.table-container {
    display: flex;
}

.table-container table {
    margin: 0 20px;
}

.table-container td {
    vertical-align: top;
    text-align: left;
}

.table-container div {
    display: flex;
    justify-content: space-between;
}

.table-container div a {
    margin-right: 10px;
}

.table-container div select,
.table-container div input {
    box-sizing: border-box;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h3 {
    margin: 0;
    font-family: kanit, sans-serif;
    color: #fff;
}

* {
    font-size: medium;
    color: darkgray;
    background-color: #252736;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
