<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FireStorm Spin Calculator</title>
    <link th:href="@{/css.css?v=3}" th:rel="stylesheet">
    <link th:href="@{/ico.png}" th:rel="icon">
</head>
<body>

<script th:src="@{/script.js}"></script>

<div class="tables">
    <table>
        <caption><h3>Желаемый профит</h3></caption>

        <tr>
            <td>Желаемый профит</td>
            <td>
                <label for="desiredProfit"></label>
                <input id="desiredProfit" oninput="setObjectValue('/api/desiredProfit/setDesiredProfit', 'desiredProfit', this)"
                       th:value="${desiredProfitModel.desiredProfit}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td>Рум</td>
            <td>
                <label for="room1"></label>
                <select id="room1" onchange="setObjectValue('/api/desiredProfit/setRoom', 'room', this)"
                        th:value="${desiredProfitModel.room}">
                    <option th:each="room : ${desiredProfitModel.rooms}" th:text="${room}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Лимит</td>
            <td>
                <label for="buyIn1"></label>
                <select id="buyIn1" onchange="setObjectValue('/api/desiredProfit/setBuyIn', 'buyIn', this)"
                        th:value="${desiredProfitModel.buyIn}">
                    <option th:each="buyIn : ${desiredProfitModel.buyIns}" th:text="${buyIn}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Среднее ChipEV/T по пулу (для ориентира)</td>
            <td>
                <label for="avgChipsT1"></label>
                <input id="avgChipsT1" readonly th:value="${desiredProfitModel.avgChipsT}">
            </td>
        </tr>

        <tr>
            <td>Ожидаемое ChipEV/T</td>
            <td>
                <label for="expChipsT1"></label>
                <input id="expChipsT1" oninput="setObjectValue('/api/desiredProfit/setExpChipsT', 'expChipsT', this)"
                       th:value="${desiredProfitModel.expChipsT}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td><b>Ожидаемое $EV/Т</b></td>
            <td>
                <label for="expDollarEVT1"></label>
                <input id="expDollarEVT1" readonly th:value="${desiredProfitModel.expDollarEVT}">
            </td>
        </tr>

        <tr>
            <td>Количество окон одновременно</td>
            <td>
                <label for="tables1"></label>
                <input id="tables1" oninput="setObjectValue('/api/desiredProfit/setTables', 'tables', this)"
                       th:value="${desiredProfitModel.tables}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td>Величина RB, %</td>
            <td>
                <label for="rakebackPct1"></label>
                <input id="rakebackPct1" oninput="setObjectValue('/api/desiredProfit/setRakebackPct', 'rakebackPct', this)"
                       th:value="${desiredProfitModel.rakebackPct}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td>Тип контракта</td>
            <td>
                <label for="mesh1"></label>
                <select id="mesh1" onchange="setObjectValue('/api/desiredProfit/setMesh', 'mesh', this)"
                        th:value="${desiredProfitModel.mesh}">
                    <option th:each="mesh : ${desiredProfitModel.meshes}" th:text="${mesh}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>% отката по контракту</td>
            <td>
                <label for="rollbackPct1"></label>
                <input id="rollbackPct1" readonly th:value="${desiredProfitModel.rollback}">
            </td>
        </tr>

        <tr class="blank-row">
            <td></td>
        </tr>

        <tr>
            <td><b>Необходимое количество турниров</b></td>
            <td>
                <label for="requiredTourneys1"></label>
                <input id="requiredTourneys1" readonly th:value="${desiredProfitModel.requiredTourneys}">
            </td>
        </tr>

        <tr>
            <td><b>Необходимое количество часов</b></td>
            <td>
                <label for="requiredHours1"></label>
                <input id="requiredHours1" readonly th:value="${desiredProfitModel.requiredHours}">
            </td>
        </tr>

        <tr>
            <td><b>$/час</b></td>
            <td>
                <label for="dollarsPerHour1"></label>
                <input id="dollarsPerHour1" readonly th:value="${desiredProfitModel.dollarPerHour}">
            </td>
        </tr>

    </table>

    <table>
        <caption><h3>Есть часов в месяц</h3></caption>

        <tr>
            <td>Есть часов в месяц</td>
            <td>
                <label for="haveHours"></label>
                <input id="haveHours" oninput="setObjectValue('/api/haveHoursPerMonth/setHaveHours', 'haveHours', this)"
                       th:value="${haveHoursModel.haveHours}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td>Количество окон одновременно</td>
            <td>
                <label for="tables2"></label>
                <input id="tables2" oninput="setObjectValue('/api/haveHoursPerMonth/setTables', 'tables', this)"
                       th:value="${haveHoursModel.tables}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td>Рум</td>
            <td>
                <label for="room2"></label>
                <select id="room2" onchange="setObjectValue('/api/haveHoursPerMonth/setRoom', 'room', this)"
                        th:value="${haveHoursModel.room}">
                    <option th:each="room : ${haveHoursModel.rooms}" th:text="${room}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Лимит</td>
            <td>
                <label for="buyIn2"></label>
                <select id="buyIn2" onchange="setObjectValue('/api/haveHoursPerMonth/setBuyIn', 'buyIn', this)"
                        th:value="${haveHoursModel.buyIn}">
                    <option th:each="buyIn : ${haveHoursModel.buyIns}" th:text="${buyIn}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Среднее ChipEV/T по пулу (для ориентира)</td>
            <td>
                <label for="avgChipsT2"></label>
                <input id="avgChipsT2" readonly th:value="${haveHoursModel.avgChipsT}">
            </td>
        </tr>

        <tr>
            <td>Ожидаемое ChipEV/T</td>
            <td>
                <label for="expChipsT2"></label>
                <input id="expChipsT2" oninput="setObjectValue('/api/haveHoursPerMonth/setExpChipsT', 'expChipsT', this)"
                       th:value="${haveHoursModel.expChipsT}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td><b>Ожидаемое $EV/Т</b></td>
            <td>
                <label for="expDollarEVT2"></label>
                <input id="expDollarEVT2" readonly th:value="${haveHoursModel.expDollarEVT}">
            </td>
        </tr>

        <tr>
            <td>Величина RB, %</td>
            <td>
                <label for="rakebackPct2"></label>
                <input id="rakebackPct2" oninput="setObjectValue('/api/haveHoursPerMonth/setRakebackPct', 'rakebackPct', this)"
                       th:value="${haveHoursModel.rakebackPct}"
                       type="number">
            </td>
        </tr>

        <tr>
            <td>Тип контракта</td>
            <td>
                <label for="mesh2"></label>
                <select id="mesh2" onchange="setObjectValue('/api/haveHoursPerMonth/setMesh', 'mesh', this)"
                        th:value="${haveHoursModel.mesh}">
                    <option th:each="mesh : ${haveHoursModel.meshes}" th:text="${mesh}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>% отката по контракту</td>
            <td>
                <label for="rollbackPct2"></label>
                <input id="rollbackPct2" readonly th:value="${haveHoursModel.rollback}">
            </td>
        </tr>

        <tr class="blank-row">
            <td></td>
        </tr>

        <tr>
            <td><b>Необходимое количество турниров</b></td>
            <td>
                <label for="requiredTourneys2"></label>
                <input id="requiredTourneys2" readonly th:value="${haveHoursModel.requiredTourneys}">
            </td>
        </tr>

        <tr>
            <td><b>Предполагаемое ожидание</b></td>
            <td>
                <label for="estimatedExpectation"></label>
                <input id="estimatedExpectation" readonly th:value="${haveHoursModel.estimatedExpectation}">
            </td>
        </tr>

        <tr>
            <td><b>$/час</b></td>
            <td>
                <label for="dollarsPerHour2"></label>
                <input id="dollarsPerHour2" readonly th:value="${haveHoursModel.dollarPerHour}">
            </td>
        </tr>

    </table>
</div>

</body>
</html>