table {
    margin: 10px;
    border-spacing: 5px 5px;
    border: 1px solid wheat;
    border-radius: 10px;
    position: relative;
}

td {
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    position: relative;
}

div {
    display: flex;
}

div a {
    margin-right: 10px;
}

select, input {
    box-sizing: border-box;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h3 {
    margin: 10px;
    font-family: kanit, sans-serif;
    color: darkorange;
}

* {
    font-size: medium;
    color: darkgray;
    background-color: #252736;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
    helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blank-row {
    height: 30px;
}

.icon, .remove-column-btn img {
    width: 24px;
    height: 24px;
}

.add-column-btn {
    width: 24px;
    height: 24px;
}

.remove-column-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
