table {
    margin: 10px;
    border-spacing: 5px 5px;
    border: 1px solid wheat;
    border-radius: 10px;
    position: relative;
}

td {
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    position: relative;
}

div {
    display: flex;
}

div a {
    margin-right: 10px;
}

select, input {
    box-sizing: border-box;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h3 {
    margin: 10px;
    font-family: kanit, sans-serif;
    color: darkorange;
}

* {
    font-size: medium;
    color: darkgray;
    background-color: #252736;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
    helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-column-btn {
    width: 32px;
    height: 32px;
}

.add-column-btn-container button {
    border: none;
    cursor: pointer;
}

.remove-column-btn {
    width: 24px;
    height: 24px;
}

.remove-column-btn-container button {
    position: absolute;
    top: -20px;
    left: 170%;
    border: none;
    cursor: pointer;
}

.auth-container {
    user-select: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnAuth {
    font-size: 18px;
    color: #f8f9fa;
    background-color: #198754;
    cursor: pointer;
    border-radius: 5px;
}
